<h1>CONTACT</h1>

	<h3>Name:</h3>
	<%= @contact.name %>
	<h3>Address:</h3>
	<%= @contact.address %>
	<h3>Phone number:</h3>
	<%= @contact.phone_number %>
	<h3>Email:</h3>
	<%= @contact.email_adress %>